@{
    ViewData["Title"] = "Home Page";
}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <main class="cards">
        
        
            <section class="card contact">
                <div class="icon">
                    <img src="https://img.icons8.com/pastel-glyph/512/flag--v2.png" alt="Clima">
                </div>
                <div class="mt-3 mb-3 use-all-width align-div-center">
                    <a href="#"><input type="submit" value="Cadastrar Clima" class="br-button primary" /></a>
                </div>
            </section>
            <section class="card contact">
                <div class="icon">
                    <img src="https://img.icons8.com/wired/512/list.png" alt="Cursos">
                </div>
                <div class="mt-3 mb-3 use-all-width align-div-center">
                    <a asp-area="" asp-controller="Curso" asp-action="Index"><input type="submit" value="Cadastrar Curso" class="br-button primary" /></a>
                </div>
            </section>   
            <section class="card contact">
                <div class="icon">
                    <img src="https://img.icons8.com/ios/512/quiz.png" alt="Concursos">
                </div>
                <div class="mt-3 mb-3 use-all-width align-div-center">
                    <a asp-area="" asp-controller="Concurso" asp-action="Index"><input type="submit" value="Cadastrar Concurso" class="br-button primary" /></a>
                </div>
            </section>
            <section class="card contact">
                <div class="icon">
                    <img src="https://img.icons8.com/dotty/512/service.png" alt="Serviços">
                </div>
                <div class="mt-3 mb-3 use-all-width align-div-center">
                    <a href="#"><input type="submit" value="Cadastrar Serviços" class="br-button primary" /></a>
                </div>
            </section>
        </div>
    </main>
</body>
</html>