<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MaisMarinhaWeb</title>
    <!-- Font Rawline-->
    <link rel="stylesheet"
          href="https://cdngovbr-ds.estaleiro.serpro.gov.br/design-system/fonts/rawline/css/rawline.css" />
    <!-- Font Raleway-->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&amp;display=swap" />
    <!-- Design System GOV.BR CSS-->
    <link rel="stylesheet"
          href="~/css/core.min.css" />
    <!-- Fontawesome-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MaisMarinhaWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="br-header bg-primary-darken-02">
        <div class="container-lg">
            <div class="header-top">
                <!--Logo +Marinha-->
                <div class="header-logo">
                    <a class="remove-anchor" asp-area="" asp-controller="Home" asp-action="Index"><h1 class="primary mr-3">+Marinha</h1></a>
                </div>

                <!--Menu Desktop (Flex-Row)-->
                <div class="navbar-collapse collapse d-sm-flex justify-content-around">
                    <ul class="menu-mobile navbar-nav flex-grow-1 flex-row justify-content-around">
                        <li class="menu-mobile nav-item">
                            <a class="menu-mobile nav-link text-light mr-1" asp-area="" asp-controller="Curso" asp-action="Index">Cursos</a>
                        </li>
                        <li class="menu-mobile nav-item">
                            <a class="menu-mobile nav-link text-light mr-1" asp-area="" asp-controller="Concurso" asp-action="Index">Concursos</a>
                        </li>

                        <li class="menu-mobile nav-item">
                            <a class="menu-mobile nav-link text-light mr-1" asp-area="" asp-controller="" asp-action="">Serviços</a>
                        </li>
                        <li class="menu-mobile nav-item">
                            <a class="nav-link text-light mr-1" asp-area="" asp-controller="Capitania" asp-action="Index">Capitanias</a>
                        </li>
                        <li class="menu-mobile nav-item">
                            <a class="menu-mobile nav-link text-light mr-1" asp-area="" asp-controller="" asp-action="">Dados Metereológicos</a>
                        </li>
                        <!--
                       
                        <partial name="_LoginPartial" /> 
                        
                        -->

                        <li class="menu-mobile nav-item">
                            <button class="br-button circle primary inverted" type="button" data-trigger="">
                                <i class="fas fa-user" aria-hidden="true"></i>
                            </button>
                        </li>
                    </ul>
                </div>
                
                <!--Menu Mobile (Sanduiche)-->
                <div class="row menu-mobile-showup mr-0">
                    <div class="br-menu" id="main-navigation">
                        <div class="menu-container ">
                            <div class="menu-panel bg-primary-darken-02">
                                <div class="menu-header ">
                                    <div class="menu-title ">
                                        <h1 class="primary mr-3">+Marinha</h1>                              
                                    </div>
                                    <div class="menu-close">
                                        <button class="br-button circle" type="button" aria-label="Fechar o menu" data-dismiss="menu">
                                            <i class="fas fa-times primary" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                                <nav class="menu-body">
                                    <a class="menu-item nav-link text-light mr-1 divider" href="/home"><p class="primary mb-0">home</p></a>
                                    <a class="menu-item nav-link text-light mr-1 divider" href="/curso"><p class="primary mb-0">Cursos</p></a>
                                    <a class="menu-item nav-link text-light mr-1 divider" href="/concurso"><p class="primary mb-0">Concursos</p></a>
                                    <a class="menu-item nav-link text-light mr-1 divider" href="javascript: void(0)"><p class="primary mb-0">Serviços</p></a>
                                    <a class="menu-item nav-link text-light mr-1 divider" href="/capitania"><p class="primary mb-0">Capitanias</p></a>
                                    <a class="menu-item nav-link text-light mr-1 divider" href="javascript: void(0)"><p class="primary mb-0">Dados Metereológicos</p></a>
                                </nav>
                                <div class="menu-footer">
                                    <div class="menu-info">
                                        <div class="text-center text-down-01">
                                            <p class="primary mr-3">
                                                &copy; 2022 - MaisMarinhaWeb.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-scrim" data-dismiss="menu" tabindex="0"></div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex align-items-center reduce-width">
                            <div>
                                <button class="br-button small circle" type="button" aria-label="Menu" data-toggle="menu" data-target="#main-navigation">
                                    <i class="fas fa-bars" aria-hidden="true"></i>
                                </button>
                            </div>
                            <!--Acionar menu-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MaisMarinhaWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <!-- Scripts de componentes -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="module" src="~/js/core-init.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
