<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MaisMarinhaWeb</title>
    <!-- Font Rawline-->
    <link rel="stylesheet"
          href="https://cdngovbr-ds.estaleiro.serpro.gov.br/design-system/fonts/rawline/css/rawline.css" />
    <!-- Font Raleway-->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&amp;display=swap" />
    <!-- Design System GOV.BR CSS-->
    <link rel="stylesheet"
          href="~/css/core.min.css" />
    <!-- Fontawesome-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MaisMarinhaWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="br-header bg-primary-darken-02">
        <div class="container-lg">
            <div class="header-top">
                <div class="header-logo">
                    <a class="remove-anchor" asp-area="" asp-controller="Home" asp-action="Index"><h1 class="primary mr-3">+Marinha</h1></a>
                </div>

                <div class="header-actions">
                    <div class="header-info">
                        <a class="br-button mr-3" asp-area="" asp-controller="Curso" asp-action="Index">Cursos</a>
                        <a class="br-button mr-3" asp-area="" asp-controller="Concurso" asp-action="Index">Concursos</a>
                        <a class="br-button mr-3" asp-area="" asp-controller="" asp-action="">Serviços</a>
                        <a class="br-button mr-3" asp-area="" asp-controller="Capitania" asp-action="Index">Capitanias</a>
                        <a class="br-button mr-3" asp-area="" asp-controller="" asp-action="">Dados Metereológicos</a>
                    </div>
                    <div class="header-login">
                        <div class="header-sign-in">
                            <button class="br-button circle primary inverted" type="button" data-trigger="">
                                <i class="fas fa-user" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="header-avatar"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MaisMarinhaWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <!-- Scripts de componentes -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="module" src="~/js/core-init.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
