@using Microsoft.AspNetCore.Identity
@using MaisMarinhaWeb.Areas.Identity.Data

@inject SignInManager<UsuarioIdentity> SignInManager
@inject UserManager<UsuarioIdentity> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="menu-mobile nav-item">
            <a id="manage" class="menu-mobile br-button circle primary inverted" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="fas fa-user" aria-hidden="true"></i></a>
        </li>

    }
    else
    {
        <li class="menu-mobile nav-item">
            <a class="menu-mobile br-button primary inverted" id="login" asp-area="Identity" asp-page="/Account/Login">Login <i class="fas fa-user" aria-hidden="true"></i> </a>
        </li>

    }
</ul>
