@model MaisMarinhaWeb.Models.CapitaniaModel

@{
    ViewData["Title"] = "Create";
}

<div class="mt-3 mb-3">
    <a class="br-button primary" asp-action="Index"><i class="fas fa-chevron-left"></i>Voltar</a>
</div>

<div class="align-div-center">
    <h1 class="create-headline">Cadastrar Capitania</h1>
</div>
<div class="align-div-center">
    <div class="col-md-6">
         <form asp-action="Create" class="d-flex flex-wrap use-all-width">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-sm-12 col-lg-12 p-3">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="col-sm-6 col-lg-6 p-3">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="col-sm-6 col-lg-6 p-3">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="col-sm-6 col-lg-6 p-3">
                <label asp-for="Cidade" class="control-label"></label>
                <input asp-for="Cidade" class="form-control" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="col-sm-6 col-lg-6 p-3">
                <label asp-for="Bairro" class="control-label"></label>
                <input asp-for="Bairro" class="form-control" />
                <span asp-validation-for="Bairro" class="text-danger"></span>
            </div>
            <div class="col-sm-6 col-lg-6 p-3">
                <label asp-for="Rua" class="control-label"></label>
                <input asp-for="Rua" class="form-control" />
                <span asp-validation-for="Rua" class="text-danger"></span>
            </div>
            <div class="col-sm-6 col-lg-6 p-3">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="col-sm-6 col-lg-6 p-3">
                <label asp-for="MetareaV" class="control-label"></label>
                <input asp-for="MetareaV" class="form-control" />
                <span asp-validation-for="MetareaV" class="text-danger"></span>
            </div>
            <div class="col-sm-6 col-lg-6 p-3">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="col-sm-6 col-lg-6 p-3">
                <label asp-for="HorarioInicio" class="control-label"></label>
                <input asp-for="HorarioInicio" class="form-control" />
                <span asp-validation-for="HorarioInicio" class="text-danger"></span>
            </div>
            <div class="col-sm-6 col-lg-6 p-3">
                <label asp-for="HorarioFim" class="control-label"></label>
                <input asp-for="HorarioFim" class="form-control" />
                <span asp-validation-for="HorarioFim" class="text-danger"></span>
            </div>
            <div class="mt-3 mb-3 use-all-width align-div-center">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
