@model MaisMarinhaWeb.Models.CursoModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CursoModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInicial" class="control-label"></label>
                <input asp-for="DataInicial" class="form-control" />
                <span asp-validation-for="DataInicial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFim" class="control-label"></label>
                <input asp-for="DataFim" class="form-control" />
                <span asp-validation-for="DataFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantidadeVagas" class="control-label"></label>
                <input asp-for="QuantidadeVagas" class="form-control" />
                <span asp-validation-for="QuantidadeVagas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cidade" class="control-label"></label>
                <input asp-for="Cidade" class="form-control" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Requisitos" class="control-label"></label>
                <input asp-for="Requisitos" class="form-control" />
                <span asp-validation-for="Requisitos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInicioInscricao" class="control-label"></label>
                <input asp-for="DataInicioInscricao" class="form-control" />
                <span asp-validation-for="DataInicioInscricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFimInscricao" class="control-label"></label>
                <input asp-for="DataFimInscricao" class="form-control" />
                <span asp-validation-for="DataFimInscricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duracao" class="control-label"></label>
                <input asp-for="Duracao" class="form-control" />
                <span asp-validation-for="Duracao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCapitania" class="control-label"></label>
                <input asp-for="IdCapitania" class="form-control" />
                <span asp-validation-for="IdCapitania" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
