html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.remove-anchor {
    text-decoration: none;
}

.align-div-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.create-headline{
    justify-content: center;
}

