html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.remove-anchor {
    text-decoration: none;
}

.align-div-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}

.align-div-spacearound {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.create-headline{
    justify-content: center;
}

.expand-form-area{
    height: 40%;
    width: 100vw;
    margin: 0;
}

.use-all-width{
    width:100%;
}

.btnStyle {
    border: none !important;
    background-color: none !important;
}

@media (min-width: 320px) and (max-width: 768px) {
    .menu-mobile {
        display: none;
    }
}

@media (min-width: 769px) {
    .menu-mobile-showup {
        display: none;
    }

    .reduce-width {
        width: 40px;
    }

}

/* ----------------------- TELA INICIAL -------------------*/

main.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
}

    main.cards section.card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background: #FFFFFF;
        border: 1px solid #1351B4;
        border-radius: 35px;
        padding: 1rem 1.5rem;
        max-height: 468px;
        margin-left: 40px;
    }
    main.cards section.card:hover {
        background: rgba(222, 222, 222, 0.90);
    }

        main.cards section.card:first-child {
            margin-left: 0;
        }

        main.cards section.card .icon {
            width: 65px;
            height: 65px;
        }

        main.cards section.card img {
            width: 100%;
        }


@media screen and (max-width: 720px) {
    main.cards {
        flex-direction: column;
    }

        main.cards section.card {
            margin-left: 0;
            margin-bottom: 32px;
        }

            main.cards section.card:last-child {
                margin-bottom: 0;
            }

            main.cards section.card button {
                font-size: 70%;
            }
}