html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.remove-anchor {
    text-decoration: none;
}

.align-div-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}

.align-div-spacearound {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.create-headline{
    justify-content: center;
}

.expand-form-area{
    height: 40%;
    width: 100vw;
    margin: 0;
}

.use-all-width{
    width:100%;
}

@media (min-width: 320px) and (max-width: 768px) {
    .menu-mobile {
        display: none;
    }
}

@media (min-width: 769px) {
    .menu-mobile-showup {
        display: none;
    }

    .reduce-width {
        width: 40px;
    }
}

